<a href="https://colab.research.google.com/github/umbuwandiru/Tugas-AI-101/blob/main/hands_on.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><a href="https://www.nvidia.com/dli"> <img src="https://github.com/stanley160990/AI-101/blob/main/03-Python_Lanjut/Pelatihan-DLI.jpeg?raw=1" alt="Header" style="width: 1000px;"/> </a></center>

# Tugas Mandiri Pemrograman Python Lanjut

## Manipulasi Struktur Data

Buat Struktur data sebagai Berikut

```
{
    "id": "1234567",
    "data": [
         {
             "nama": "nama1",
             "kelas" : "kelas1",
             "alanat" : "Alamat2"
         },{
             "nama": "nama2",
             "kelas" : "kelas2",
             "alanat" : "Alamat2"
         }   
    ]
}
```

In [ ]:
# -------------- Isikan Disini -----------
{
    "id": "1234567",
    "data": [
        {
            "nama": "nama1",
            "kelas": "kelas1",
            "alanat":"Alamat2"
        },{
            "nama": "nama2",
            "kelas": "kelas2",
            "alanat": "Alamat2"
        }
    ]
}

{'id': '1234567',
 'data': [{'nama': 'nama1', 'kelas': 'kelas1', 'alanat': 'Alamat2'},
  {'nama': 'nama2', 'kelas': 'kelas2', 'alanat': 'Alamat2'}]}

## Memanipulasi Database MySQL

### Buat tabel profil
* Buat Koneksi dengan detail sebagai berikut:
    * host: 202.124.198.43
    * username: tugas
    * password: margonda101
    * database: db_tugas

In [ ]:
# -------- Buat Koneksi disini -----------
!pip install mysql-connector-python
import mysql.connector

# Membuat koneksi ke database MySQL
db = mysql.connector.connect(
    host="202.124.198.43",
    user="tugas",
    password="margonda101",
    database="db_tugas"
)

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.12/dist-packages (9.4.0)

### Buat Tabel Tabel
* Buat table dengan nama profile_{nama_pertama_peserta} jika nama bapak jay idzes maka nama tabelnya **profile_jay** dengan kolom:
    * nama tipe data varchar(255)
    * Alamat tipe data varchar(255)
    * jenis_kelamin tipe data varchar(255

In [ ]:
# --------- Buat Tabel Disini -------------
if db.is_connected():
    print("Berhasil terhubung ke database!")

sql = """
CREATE TABLE profile_wandiru (
    id INT AUTO_INCREMENT PRIMARY KEY,
    nama VARCHAR(255) NOT NULL,
    Alamat VARCHAR(225) NOT NULL,
    jenis_kelamin VARCHAR(255)
)
"""
# Membuat cursor untuk menjalankan query
cursor = db.cursor()
try:
    cursor.execute(sql)
    print("Tabel 'profile_wandiru' berhasil dibuat!")
except mysql.connector.Error as err:
    print(f"Gagal membuat tabel: {err}")

Berhasil terhubung ke database!
Tabel 'profile_wandiru' berhasil dibuat!

In [ ]:
sql = "select * from profile_wandiru"
cursor.execute(sql)
results = cursor.fetchall()
for row in results:
    print(row)

### Isi data tabel profile
* Isi tabel Profile dengan: Nama, alamat, dan jenis_kelamin sebanyak 5 Data

In [ ]:
# --------- Isi Tabel Disini -------------
insert_sql = "INSERT INTO profile_wandiru (Nama, alamat, jenis_kelamin) VALUES (%s, %s, %s)"
data_to_insert = [
    ('Praptama', 'Cimahi', 'Laki-laki'),
    ('Faqih Fautyaz', 'Bekasi', 'Laki-laki'),
    ('Raja Jaefant', 'Jakarta', 'Laki-laki'),
    ('Fachri Al Aziz', 'Padang', 'Laki-laki'),
    ('Syaloom Yunika', 'Jakarta', 'Perempuan')
]
cursor.executemany(insert_sql, data_to_insert)
db.commit() # Commit the changes

### Tampilan Data
* Tampilkan isi Semua Data

In [ ]:
# --------- Tampilkan Seluruh Data ---------
sql = "select * from profile_wandiru"
cursor.execute(sql)
results = cursor.fetchall()
for row in results:
    print(row)

(1, 'Praptama', 'Cimahi', 'Laki-laki')
(2, 'Faqih Fautyaz', 'Bekasi', 'Laki-laki')
(3, 'Raja Jaefant', 'Jakarta', 'Laki-laki')
(4, 'Fachri Al Aziz', 'Padang', 'Laki-laki')
(5, 'Syaloom Yunika', 'Jakarta', 'Perempuan')